
.resultsContainer {
    height: 65vh;
    // border: 5px solid red;
    margin: 0 8em;
    // First implementation of CSS Grid system
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-row-gap: 1em;
    padding: 1em;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.resultsCard {
    border: 2px solid black;
    padding: 1em;
}